APP_NAME=Agri Assist AI
##simple example of a secret key, replace with your own in production
SECRET_KEY=fmzndwiodwqidpewq4qwewehweoui23e2124qwye2g4783eqwiueh28e
##Simple example of database URL, replace with your own in production
DATABASE_URL=aJSHEGDQWSQIU
## simple example of a Google Gemini API key, replace with your own in production
GEMINI_API_KEY=chweiucdwshjxweurwerqrywqrafqwy56htsssdwud
GEMINI_MODEL=gaJUIQWSUQW
## simple example of an OpenWeather API key, replace with your own in production
OPENWEATHER_API_KEY=m,cndsjfqewncfqfhewdwed
VECTOR_STORE=local
CHROMA_PERSIST_DIR=vector_store
CORS_ORIGINS=*
UPLOAD_DIR=uploads
