fastapi
uvicorn[standard]
python-multipart
python-dotenv
sqlalchemy
pydantic
pydantic-settings
email-validator
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
httpx
google-genai
pillow
numpy
joblib
scikit-learn
psycopg2-binary
